<!DOCTYPE html>
<html>
  <head>
  <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="includes/login_css.css" rel="stylesheet" type="text/css" />
    <link href="includes/main.css" rel="stylesheet" type="text/css" />
    <title>This is 's profile page</title>
  </head>
  <body class="homepage">
  <div id= "header-background"></div>
<div id="header-wrap">
  <ul class="nav accountlink" > 
<%if @Logged == 1%>
      <li class="sigin custom3">
   		<a href="/logout" class="navItem plain">Log out</a>
      </li>   
  </ul>
<% end %>
</div>
<% if REDIS.exists('users:'+ @username) %>
<div id="info-content" class="custom9">	
	<p>This is where the users page information will be displayed.</p>
	<table>
	<tr><td>UserName</td>	<td><%= @username %></td></tr>
	<%if @lname != nil and @fname != nil%>
	<tr><td>Name</td>		<td><%= @fname %> <%= @lname %></td></tr>
	<% end %>
	<%if @email != nil%>
	<tr><td>Email</td>		<td><%= @email %></td></tr>
	<% end %>
	<%if @biography != nil%>
	<tr><td>Biography</td>	<td><%= @biography %></td></tr>
	<% end %>
	<%if @twitter != nil%>
	<tr><td>Twitter</td>	<td><%= @twitter %></td></tr>
	<% end %>
	<%if @facebook != nil%>
	<tr><td>Facebook</td>	<td><%= @facebook %></td></tr>
	<% end %>
	<%if @website != nil%>
	<tr><td>Website</td>		<td><%= @website %></td></tr>
	<% end %>
	<%if @tags != nil%>
	<tr><td>Tags</td>		<td><%= @tags %></td></tr>
	<% end %>
	
	
	</table> 
</div>
<% Else %>
<% Redirect '/index' %>
<% end %>

  </body>
</html>