<!DOCTYPE html>
<html>
  <head>
<link href='http://fonts.googleapis.com/css?family=Cabin|Bonbon|Rosario:400,700|Righteous' rel='stylesheet' type='text/css'> 
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="http://sinatracpsc473.heroku.com/includes/login_css.css" rel="stylesheet" type="text/css" />
    <link href="http://sinatracpsc473.heroku.com/includes/main.css" rel="stylesheet" type="text/css" />
    <title>This is <%= @profile %>'s profile page</title>
  </head>
  <body class="infopage">
  <div id= "header-background"></div>
<div id="header-wrap">
  <ul class="nav accountlink" > 
      <li class="sigin custom3">
          <a href="logout" class="navItem plain">Log out</a>
      </li>   
  </ul>
</div>

<div id="info-content" class="custom9">  
<div class = "logo-black">
</div>
  <%if @owner == "yes"%>
  <!-- Display editing tools here-->
  <% end %>

  <fieldset>
       <label>UserName</label> <%= @username %>
   </fieldset>

       <%if @lname != nil and @fname != nil%>
       <fieldset>
       <label>Name</label><%= @fname %> <%= @lname %>
    </fieldset>
       <% end %>

       <%if @email != nil and @email != " "%>
       <fieldset>
       <label>Email</label><%= @email %>
    </fieldset>
       <% end %>

       <%if @biography != nil and @biography != " "%>
       <fieldset>
       <label>Biography</label><%= @biography %>
    </fieldset>
       <% end %>

       <%if @twitter != nil and @twitter != " "%>
       <fieldset>
       <label>Twitter</label><%= @twitter %>
    </fieldset>
       <% end %>

       <%if @facebook != nil and @facebook != " "%>
       <fieldset>
       <label>Facebook</label><a href= "www.facebook.com/<%= @facebook %>">Facebook</a>
    </fieldset>
       <% end %>

       <%if @website != nil and @website != " "%>
       <fieldset>
       <label>Website</label> <%= @website %>
    </fieldset>
       <% end %>

       <%if @tags != nil and @tags != " "%>
       <fieldset>
       <label>Tags </label><%= @tags %>
    </fieldset>
       <% end %>
        
</div>
  </body>
</html>

