<!DOCTYPE html>
<html>
  <head>
<link href='http://fonts.googleapis.com/css?family=Cabin|Bonbon|Rosario:400,700|Righteous' rel='stylesheet' type='text/css'> 
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="http://sinatracpsc473.heroku.com/includes/login_css.css" rel="stylesheet" type="text/css" />
    <link href="http://sinatracpsc473.heroku.com/includes/main.css" rel="stylesheet" type="text/css" />
    <title>This is <%= @profile %>'s profile page</title>
  </head>
  <body class="infopage">
  <div id= "header-background"></div>
<div id="header-wrap">
  <ul class="nav accountlink" > 
      <li class="sigin custom3">
          <a href="/menu" class="navItem plain">Menu</a><a href="/logout" class="navItem plain">Log out</a>
      </li>   
  </ul>
</div>

<div id="info-content" class="custom9">  
<div class = "logo-black">
</div>
  <%if @owner == "yes"%>
  <!-- Display editing tools here-->
  <% end %>

  <fieldset>
       <label style="font-size: large"><u>UserName</u></label><br /> <%= @username %>
   </fieldset>
       <%if @lname != nil and @fname != nil%>
       <fieldset>
       <label style="font-size: large"><u>Name</u></label><br /><%= @fname %> <%= @lname %>
    </fieldset>
       <% end %>

       <%if @email != nil and @email != " "%>
       <fieldset>
       <label style="font-size: large"><u>Email</u></label><br /><%= @email %>
    </fieldset>
       <% end %>

       <%if @biography != nil and @biography != " "%>
       <fieldset>
       <label style="font-size: large"><u>Biography</u></label><br /><%= @biography %>
    </fieldset>
       <% end %>


    <%if @website != nil and @website != " "%>
       <fieldset>
       <label style="font-size: large"><u>Website</u></label><br /> <%= @website %>
    </fieldset>
       <% end %>

       <%if @tags != nil and @tags != " "%>
       <fieldset>
       <label style="font-size: large"><u>Tags </u></label><br /><%= @tags %>
    </fieldset>
       <% end %>
       
       
       
       <%if @twitter != nil and @twitter != " "%>
       <fieldset> 
    <a href="https://twitter.com/<%= @twitter %>" class="twitter-follow-button" data-show-count="false">Follow @<%= @twitter %></a>
<script>    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
    
   
    </fieldset>
       <% end %>

       <%if @facebook != nil and @facebook != " "%>
       <fieldset>
       <a href= "http://www.facebook.com/<%= @facebook %>" style="font-size: large">Facebook</a>
    </fieldset>
       <% end %>

      
        
</div>
  </body>
</html>

